%script#bookItem(type='text/html')
  {{#books}}
  %li.book(id='{{ id }}')
    %p.title {{ title }}
    %p.author {{ author.name }}
  {{/books}}


%div#booksList.page
  %h3#title Search Result for <span id='query'></span>
  %ul#list
