%script#bookItem(type='text/html')
  {{#books}}
  %li{:id => "{{ id }}", :class => "{{ class }}"}
    %p.title {{ title }}
    %p.author {{ author.name }}
  {{/books}}


%div#booksList.page
  %h1 Search Results for <span id='query'></span>
  %ul#list
